<img src="../assets/images/default.svg" alt="SnipTech Logo">

<form (ngSubmit)="shortenUrl()" #urlForm="ngForm">
    <div id="form-grid">
        <input [pattern]="pattern" placeholder="https://" type="url" name="longUrl" [(ngModel)]="longUrl" required>
        <button type="submit" [disabled]="!urlForm.form.valid" [ngStyle]="{
                'background': !urlForm.form.valid ? 'rgba(255, 255, 255, 0.5)' : 'linear-gradient(to bottom right, #88DF95, #415c61)',
                'color': !urlForm.form.valid ? '' : 'antiquewhite'
            }">
            <div *ngIf="!showSpinner">SNIP</div>
            <div *ngIf="showSpinner" class="loader"></div>
        </button>
    </div>
</form>

<div id="info-div" *ngIf="shortUrl !== undefined">
    <div id="info-text">
        Result: https://sniptech-be.herokuapp.com/{{shortUrl}}
        <button (click)="copyToClipBoard()"><i class="far fa-copy"></i></button>
    </div>
</div>