#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#error-message h1 {
    color: whitesmoke;
    display: block;
    text-align: center;
}

a {
    color: antiquewhite;
}